.common-btn{
    background-color: #109CF1;
    color: #fff;
    padding: 8px 50px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.common-btn2{
    background-color: #2ED47A;
    color: #fff;
    padding: 0px 40px;
    border: none;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.common-btn3{
    background-color: #109CF1;
    color: #fff;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.common-btn3:disabled{
    color: #000;
    background-color: rgba(0, 0, 0, 0.24);
    cursor: default;
}