/* :root {
    --header-height: 3rem;
    --nav-width: 250px;
    --first-color: #ffffff;
    --first-color-alt: #3e00ff;
    --white-color: #000;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

ul {
    list-style: none;
}

main {
    position: relative;
    margin: 3rem 0 0 0;
    padding: 0 1rem;
    font-size: 1rem;
    transition: .5s;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    padding: 0 1rem;
    transition: .5s;
    margin-left: 250px;
    z-index: 100;
}

.header-toggle {
    font-size: 1.25rem;
    cursor: pointer;
    color: #3e00ff;

}
.header-global-search{
    width: 100%;
    border: none;
}
.header-global-search:focus{
    border: 1px solid rgba(165, 165, 165, 0.315) !important;
}
.header-global-search::placeholder{
    color: #C0C9D6;
}
.text-blur{
    color: #C0C9D6;
    cursor: pointer;
}
.sidebar {
    position: fixed;
    top: 0;
    left: -30%;
    height: 100vh;
    width: 250px;
    background-color: #ffffff;
    padding-top: 1rem;
    transition: .5s;

}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
}

.nav-logo,
.nav-link {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 2rem;
    padding: 0.5rem 0 0.5rem 1.5rem;

}

.nav-logo {
    margin-bottom: 0.5rem;
}

.nav-logo-icon {
    font-size: 1.25rem;
    color: #000;
    cursor: pointer;
}

.nav-logo-name {
    font-weight: 700;
    color: #000;
}

.nav-link {
    position: relative;
    color: #3e00ff;
    transition: .5s;
    text-align: center;
    /* margin-bottom: 0.5rem; */
}
.nav-link:hover {
    color: #000;
    background-color: rgba(0, 0, 0, .1);
}

.active {
    color: #000;
    background-color: rgba(0, 0, 0, .1);

}

.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 37px;
    width: 3px;
    background-color: #000;
    transition: .5s;

}

.show {
    left: 0;

}

.space-toggle {
    padding-left: calc(250px + 1rem);
}

.page-wrapper {
    background-color: #C1E3D6;
    width: calc(100vw - 250px);
    min-height: calc(100vh - 4rem);
    margin-left: calc(250px + 1rem);
    /* margin-right: 10px; */
    padding: 40px 50px;
    box-shadow: 2px 1px 2px 2px rgb(170, 169, 169);
}

@media screen and (max-width:768px){
    .sidebar{
        display: none;
    }
    .page-wrapper{
        margin-left: 0;
        padding-left: 10px;
        width: 100vw;
        min-height: calc(100vh - 3rem);
    }
    .header{
        padding-left: 10px;
        margin-left: 10px;
    }
}

@media screen and (min-width:768px) {
    main {
        margin: calc(3rem + 1rem);
        padding: 0 1rem 0 calc(250px+2rem);
    }

    .header {
        height: calc(3rem+3rem);
        padding-left: calc(250px+6rem);
    }

    .sidebar {
        left: 0;
        padding: 1rem 0 0 0;

    }

    .show {
        width: calc(3rem+226px);
    }

    .space-toggle {
        padding-left: calc(250px+258px);

    }
}